/*Variables created for the main page. */   

$myBodyBackground:url(../img/deskcolor.png);
$myBodyFont: 'Graduate', cursive; 
$myPtext: Sans-serif;
$myPsize: 18px;
$myCardColor: #feca1d;
$myCardSettings: border-box;
$myLinkColor: black;
$myVisitColor: #aa3d01;
$myHoverColor: white;
$myHighFont: #800080;
$myCFont: #003087;



